In [8]:
2457

2457

In [10]:
type(2457)

int

In [12]:
25.1

25.1

In [15]:
type(25.1)

float

In [18]:
type(2.0)

float

In [20]:
type("Frank")

str

In [27]:
type("")

str

In [34]:
type(True)

bool

In [38]:
type(None)

NoneType

In [41]:
1 + 5

6

In [42]:
20/4

5.0

In [43]:
20/6

3.3333333333333335

In [45]:
107.45/3.18

33.789308176100626

In [48]:
101 * 3.2

323.20000000000005

In [50]:
5 ** 4.7

1928.2308210000306

In [51]:
20 % 3

2

In [55]:
20 % 4

0

In [57]:
age = 36
name = "Frank"
male = True
num_ferraris = None

In [58]:
foo = 17
bar = 20.1

In [65]:
age / bar ** foo

2.523303700601804e-21

In [69]:
half_age = age / 2

In [72]:
half_age

18.0

In [75]:
half_age = "orange"

In [78]:
half_age

'orange'

In [80]:
# list
[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [81]:
["Hello", "World", "I", "am", "Frank"]

['Hello', 'World', 'I', 'am', 'Frank']

In [83]:
[True, True, False, None]

[True, True, False, None]

In [85]:
["hello", 17, True, 1.008, None]

['hello', 17, True, 1.008, None]

In [86]:
words = ["Hello", "World", "I", "am", "Frank"]

In [89]:
len(words)

5

In [91]:
sorted(words)

['Frank', 'Hello', 'I', 'World', 'am']

In [93]:
words

['Hello', 'World', 'I', 'am', 'Frank']

In [95]:
nums = [103.5, 23.2, 17, 59.9, 43, 20, 46, 39, 20, 77.34]

In [97]:
len(nums)

10

In [98]:
sum(nums)

448.94000000000005

In [99]:
max(nums)

103.5

In [100]:
min(nums)

17

In [105]:
nums

[103.5, 23.2, 17, 59.9, 43, 20, 46, 39, 20, 77.34]

In [109]:
nums[4]

43

In [112]:
nums[-3]

39

In [117]:
nums[1:6]

[23.2, 17, 59.9, 43, 20]

In [120]:
nums[3:-1]

[59.9, 43, 20, 46, 39, 20]

In [122]:
nums[3:]

[59.9, 43, 20, 46, 39, 20, 77.34]

In [124]:
nums[ :-3]

[103.5, 23.2, 17, 59.9, 43, 20, 46]

In [128]:
nums[1:8:2]

[23.2, 59.9, 20, 39]

In [130]:
nums

[103.5, 23.2, 17, 59.9, 43, 20, 46, 39, 20, 77.34]

In [136]:
nums[1:8]

[23.2, 17, 59.9, 43, 20, 46, 39]

In [140]:
17 in nums

True

In [141]:
329 in nums

False

In [142]:
"Frank" in words

True

In [144]:
"frank" in words

False

In [146]:
12 > 3

True

In [147]:
12 < 3

False

In [149]:
12 <= 13

True

In [150]:
12 <= 12

True

In [152]:
name = "Frank"

In [153]:
12 == 12

True

In [154]:
12 != 13

True

In [155]:
13 != 13

False

In [156]:
nums

[103.5, 23.2, 17, 59.9, 43, 20, 46, 39, 20, 77.34]

In [157]:
17 in nums

True

In [158]:
17 > nums

TypeError: '>' not supported between instances of 'int' and 'list'

In [162]:
# list
["Frank", 36, True]

['Frank', 36, True]

In [165]:
# dict
person = {
    "name": "Frank",
    "age": 36,
    "is_good_looking": True
}

In [168]:
person

{'name': 'Frank', 'age': 36, 'is_good_looking': True}

In [170]:
person["name"]

'Frank'

In [172]:
person["age"]

36

In [174]:
"name" in person

True

In [177]:
"address" in person

False

In [178]:
"Frank" in person

False

In [180]:
person2 = {
    "name": "Frank",
    "age": 36,
    "is_good_looking": True,
    "hobbies": ["skiing", "guitar", "modeling"]
}

In [181]:
person2

{'name': 'Frank',
 'age': 36,
 'is_good_looking': True,
 'hobbies': ['skiing', 'guitar', 'modeling']}

In [185]:
person2["hobbies"][1]

'guitar'

In [187]:
person3 = {
    "name": "Frank",
    "age": 36,
    "is_good_looking": True,
    "hobbies": ["skiing", "guitar", "modeling"],
    "address": {
        "street": "123 Fake St.",
        "city": "OKC",
        "is_physical": True
    }
}

In [188]:
person3["address"]

{'street': '123 Fake St.', 'city': 'OKC', 'is_physical': True}

In [190]:
person3["address"]["city"]

'OKC'

In [192]:
people = [
    {"name": "Frank", "age": 36},
    {"name": "Jim", "age": 19},
    {"name": "Stacy", "age": 51},
]

In [193]:
people

[{'name': 'Frank', 'age': 36},
 {'name': 'Jim', 'age': 19},
 {'name': 'Stacy', 'age': 51}]

In [194]:
people[-1]

{'name': 'Stacy', 'age': 51}

In [195]:
people[-1]["age"]

51

In [197]:
people[:2]

[{'name': 'Frank', 'age': 36}, {'name': 'Jim', 'age': 19}]

In [201]:
len(people)

3

In [205]:
name = "Frank"
12 + 40
12 < 85.7

True

In [227]:
# Control Flow
num_cups = 43

In [230]:
if (num_cups > 50):
    print("I have a lot of cups")
    print(f"to be exact, there are {num_cups}")
elif (num_cups > 25):
    print("I have several cups")
elif (num_cups > 40):
    print("you need some more cups man")
else:
    print("I just have a few cups")
    

print("man, I'm glad that is over")

I have several cups
man, I'm glad that is over

In [237]:
# Loops
num_cups = 20
num_cups = num_cups + 5
num_cups += 5
num_cups += 5
num_cups += 5
num_cups += 5
num_cups += 5

In [238]:
num_cups

50

In [239]:
num_cups = 20
for i in range(5):
    num_cups += 5

num_cups

45

In [241]:
nums = [101, 26, 9, 305]

In [246]:
for number in nums:
    print(number)
    print(number ** 2)
    print("Hi")

101
10201
Hi
26
676
Hi
9
81
Hi
305
93025
Hi

In [250]:
[i for i in range(7)]

[0, 1, 2, 3, 4, 5, 6]

In [252]:
person3

{'name': 'Frank',
 'age': 36,
 'is_good_looking': True,
 'hobbies': ['skiing', 'guitar', 'modeling'],
 'address': {'street': '123 Fake St.', 'city': 'OKC', 'is_physical': True}}

In [255]:
for i in person3:
    print(i, person3[i])

name Frank
age 36
is_good_looking True
hobbies ['skiing', 'guitar', 'modeling']
address {'street': '123 Fake St.', 'city': 'OKC', 'is_physical': True}

In [256]:
num_cups = 10

In [258]:
while (num_cups < 50):
    print(f"I'd like another round, so far I have bought {num_cups} beers")
    num_cups += 5

I'd like another round, so far I have bought 10 beers
I'd like another round, so far I have bought 15 beers
I'd like another round, so far I have bought 20 beers
I'd like another round, so far I have bought 25 beers
I'd like another round, so far I have bought 30 beers
I'd like another round, so far I have bought 35 beers
I'd like another round, so far I have bought 40 beers
I'd like another round, so far I have bought 45 beers

In [260]:
times = 0
num_cups = -3
while (num_cups < 200):
    print("still drinking")
    num_cups += 17
    times += 1

print(times)

still drinking
still drinking
still drinking
still drinking
still drinking
still drinking
still drinking
still drinking
still drinking
still drinking
still drinking
still drinking
12

In [262]:
"I learned my lesson"

'I learned my lesson'

In [265]:
data = [1, 3, 6, 8, 3, 6, 8, 0, "Frank"]

times = 0
for i in data:
    times += 1

print(times)

9

In [267]:
how_many = len(data)

In [269]:
how_many * 3

27

In [270]:
age_next_year = 36 + 1

In [271]:
age_next_year

37